.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.75em;
  margin: 2em auto;
  max-width: 300px;
  width: 100%;

  input[type="radio"] {
    display: none;

    &:checked {
      + label {
        color: $document-bg-color;
        background-color: $document-default-color;
        transform: translatey(1px);
        + .tab-content {
          display: block;
        }
      }
    }
  }

  label {
    padding: 0.15em 0.5em;
    color: $document-default-color;
    font-weight: bold;
    border: 5px solid $document-default-color;
    border-bottom: unset;
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
    background-color: $document-bg-color;
    cursor: pointer;
    order: 0;
  }
  
  .tab-content {
    display: none;
    padding: 1em 0;
    width: 100%;
    // border-top: 5px solid $document-default-color;
    order: 1;
  }
}
